@import url('https://fonts.googleapis.com/css?family=Roboto');

.page-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all .8s;
}

.cube-transition > div {
  background-color: #ed154f;
}

/* Colors */
.bg-medium-grey {
  background-color: #1b2232;
}

.bg-dark-grey {
  background-color: #0d131f;
}

.text-pink {
  color: #ff2a55;
}

/* Extra small devices (portrait phones, less than 576px) */
* {
  box-sizing: border: box;
}

body {
  color: white;
  font-family: 'Roboto', arial, sans-serif;
}

#topnav {
  z-index: 10;
  position: fixed;
  height: 90px;
  width: 100%;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, .25);
}

#sidebar {
  min-height: 100vh;
}

.sidebar-labels {
  color: #ff2a55;
}

#search-form {
  width: 40%;
}

#search-form input {
  border-radius: 25px !important;
  width: 80%;
  height: 40px;
  background-color: rgba(255, 255, 255, .04);
}

#search-form button {
  width: 20%;
  height: 40px;
  border-radius: 25px !important;
  background-color: #ff2a55;
  opacity: .8;
}

#search-form button:hover {
  opacity: 1;
}


#sidebar > nav a.nav-link {
  font-size: 1.2em;
}

.nav-link {
  font-weight: 600;
  color: #696c80;
}

.nav-link:hover {
  color: #8f91a2;
}

.nav-link.active {
  border-radius: 50px;
  background-color: #1b2232;
  color: #afb1c2;
}

.nav-link > i {
  margin-right: 8px;
  color: #afb1c2;
}

.carousel-overlay {
  z-index: 8;
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(68, 0, 14, .4);
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  z-index: 9;
  opacity: .9;
}

.custom-carousel-control {
  border-radius: 50%;
  color: white;
  font-size: 2.5em;
}

#content {
  position: relative;
  top: 90px;
}

.section-headings {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.title {
  margin-left: 15px;
  margin-right: 15px;
  opacity: .7;
  transition: all .3s;
}

.title:hover {
  opacity: 1;
  transform: scale(1.1);
}

.title a {
  outline: none !important;
  color: white;
  text-decoration: none;
}

.title-img-container {
  position: relative;
}

.title-rating {
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 2px 5px;
  background: rgba(0, 0, 0, .9);
  color: #ff2a55;
}

.title-rating i {
  font-size: .6em;
}

.title-img-container img {
  width: 100%;
  height: auto;
}

.title-name {
  margin: 5px 0px 0px 0px;
  color: #afb1c2;
  font-size: 1em;
  font-weight: 600;
}

.title-category {
  font-size: .8em;
}

button.slick-prev.slick-arrow::before,
button.slick-next.slick-arrow::before {
  font-size: 35px;
  opacity: .9;
}

#promo-carousel {
  height: 25vh !important;
}

#promo-carousel .carousel-inner {
  height: inherit !important;
}

#promo-carousel > .carousel-inner > .carousel-item > img {
  height: inherit !important;
}

#powered-by {
  width: 140px;
  height: auto;
}


.hero {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
  overflow-y: hidden;
}

.hero > .hero-overlay {
  z-index: 3;
  position: absolute;
  top: 0px;
  width: 100%;
  height: inherit;
  background-color: black;
  opacity: .6;
}

.hero > #hero-back-btn {
  z-index: 4;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2em;
  opacity: .8;
}

.hero > #hero-back-btn:hover {
  opacity: 1;
}

.hero > img {
  z-index: 2;
  width: 100%;
  height: inherit;
}

.hero > .hero-meta {
  z-index: 4;
  position: absolute;
  left: 30px;
  bottom: 20px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  #promo-carousel {
    height: 35vh !important;
  }



}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #sidebar-container {
    position: fixed;
    top: 90px;
  }

  .hero {
    height: 45vh;
  }

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


  #promo-carousel {
    height: 45vh !important;
  }

  .hero {
    height: 400px;
  }

  .hero > img {
    height: auto;
  }

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {





}
